@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Cherry+Swash);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}
#logoutbtn{
    display: none;
}


#cart_gif{
    background-image: url(https://media.tenor.com/8klrp86awEYAAAAC/cart.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 40px;
  
  
}
.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #f5f5f5;
    z-index: 9;
}

.nav{
    padding: 3px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}

.brand-logo{
    height: 50px;
    
    
}
.logo{
    display: flex;
    /* text-align: center; */
    align-items: center;
}
.logo span{
    font-family: 'Lobster';
    font-size: 25px;
    color: #7d1534;
}


.nav-items{
    display: flex;
    align-items: center;
    /* color: #7d1534; */
  
}

.nav-items span{
    color: #7d1534;
}

.nav-items i{
    color: #383838;
}
.search{
    width: 500px;
    display: flex;
    /* margin-left: -100px;
    margin-top: 7px; */
}

.search-box{
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: capitalize;
    background: none;
    color: #a9a9a9;
    outline: none;
}

.search-btn{
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background:#7d1534;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-box::placeholder{
    color: #a9a9a9;
}

.nav-items a{
    margin-left: 20px;
}

.nav-items a img{
    width: 30px;
}

/* //////// */
@import 'nav.css';

.links-container{
    width: 100%;
    display: flex;
    padding: 15px 15vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #d1d1d1;
    background-color: #7d1534
}

.link{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #fff;
    opacity: 0.5;
    transition: .5s;
}

.link:hover{
    opacity: 1;
}

/* //// */
/* slider 1 css starts from here */

.body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7d1534
}

.slider-one{
    width: 100%;
    height: 500px;
    /* border-radius: 10px; */
    overflow: hidden;

}

.slides-one{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides-one input{
    display: none;
}

.slide-first{
width: 20%;
transform: 2s;

}
.slide-first img{
    width: 100%;
    height: 500px;
}
.navigation-manual{
position: absolute;
width: 100%;
margin-top:-40px;
display: flex;
justify-content: center;
}

.manual-btn{
    border: 2px solid #7d1534;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transform: 1s;


}

.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
background: #7d1534;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20;
}
#radio3:checked ~ .first{
    margin-left: -40;
}
#radio4:checked ~ .first{
    margin-left: -60;
}

/* css for automatic */

.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 460px;
    /* margin: auto; */


}
.navigation-auto div{
    border: 2px solid #7d1534;
    padding: 5px;
    border-radius: 10px;
    /* transition: 1s; */
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #7d1534;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #7d1534;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #7d1534;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #7d1534;
}

/* slider 1 end */

/* .tape{
    position:absolute;
  width: 100%;
  background-color: black;
  min-height: 100px;
  margin: auto;
    
   
  justify-content: space-between;
  align-items: center;
  
}
.tape img{
    width: 200px;
    height: 100px;
   margin-left: 42px;
   margin-right: 42px;

} */


#widges_img{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: black;
  padding: 0 40px ;
}

#widges_img img{
  width: 200px;
  
}

/* shop by category */
.horizontal{
  /* display: inline-block; */
text-align: center;
  padding-top: 30px;
  border-bottom:2px solid #7d1534;
  padding-bottom: 10px;
  
}



/* next slider2 */
@import "https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap";
 body {
	 width: 100%;
	 margin: 0;
	 padding: 0;
	 font-family: open sans;
	 background: #f8f8f8;
}
 
 .slider {
	 display: flex;
	 height: 200px;
   /* border: 1px solid red; */
	 max-height: auto;
	 overflow-y: hidden;
	 overflow-x: scroll !important;
	 padding: 40px 16px;
	 transform: scroll(calc(var(--i,0)/var(--n)*-100%));
	 scroll-behavior: smooth;
}
 .slider::-webkit-scrollbar {
	 height: 5px;
	 width: 150px;
	 display: none;
}
 .slider::-webkit-scrollbar-track {
	 background: transparent;
}
 .slider::-webkit-scrollbar-thumb {
	 background: #888;
}
 .slider::-webkit-scrollbar-thumb:hover {
	 background: #555;
}
 .slider img:hover {
	 transform: scale(1.05);
	 box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
}
 .slide {

	 position: relative;
}
 .slide img {
	 height: 150px;
	 width: 250px;
	 margin: 0 10px;
	 object-fit: cover;
	 border-radius: 15px;
	 cursor: pointer;
	 transition: .25s ease-in-out;
}
 .control-prev-btn {
	 position: absolute;
   /* border: 1px solid red; */

	 margin-top: 25px;
	 left: 0;
	 background-color: rgba(255,255,255,0.55);
	 height: 100px;
	 line-height: 100px;
	 width: 45px;
	 text-align:center;
   /* justify-content:last baseline; */
	 box-shadow: 0 1px 3px #888;
	 user-select: none;
	 color: #444;
	 cursor: pointer;
}
 .control-next-btn {
	 position: absolute;
   margin-top: 25px;
	 right: 0;
	 background-color: rgba(255,255,255,0.55);
	 height: 100px;
	 line-height: 100px;
	 width: 45px;
	 text-align: center;
	 box-shadow: 0 1px 3px #888;
	 user-select: none;
	 color: #444;
	 cursor: pointer;
}


.slide img.zoomed{
	  width: 500px;
    height: 600px;
    position: fixed;
    left: 25%;
    top: 0%;
    z-index: 1000;
		transform: scale(1) translatey(0) !important; 
	
}
.overlay{
		position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.45);
    top: 0;
		display: none;
}
.overlay.active{
	display: block;
}
 @media only screen and (max-width: 420px) {
	 .slider {
		 padding: 0;
	}
	 .slide {
		 padding: 16px 10px;
	}
	 .slide img {
		 margin: 0;
	}
	 .control-prev-btn {
		 top: 37%;
	}
	 .control-next-btn {
		 top: 37%;
	}
}
 

/* photo gallery */


@import url(https://fonts.googleapis.com/css?family=Montserrat:500);
/* 
:root {

	font-size: 10px;
} */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: #fafafa;
}

.container {
	/* max-width: 100rem; */
  width: 85%;
	margin: 0 auto;
	padding: 0 2rem 2rem;
  margin-top: 30px;
}

/* .heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}

.heading span {
	display: block;
} */

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns:repeat(2,1fr);
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}


/* footer */

/* footer section start */
/* *{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
} */
/* body{
	font-size:14px;
	background: #fff;
    max-width:1920px;
    margin:0 auto;
	overflow-x:hidden;
	font-family: poppins;
	

} */
#footer{
	background: #f7f7f7;
    /* padding: 3rem; */
	
	/* padding-top: -7rem; */
    /* padding-bottom: 80px; */
	background-image: url(https://arena.km.ua/wp-content/uploads/3538533.jpg);
}
.row{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  /* border: 2px solid red; */
  align-items:first baseline;
  /* text-align: center; */
  width: 100%;
}
#footer-logo{
  width: 80%;
  height: 200px;
}
/* #footer2{
	background: #f7f7f7;
    padding: 3rem;
    margin-top: 0px;
	/* padding-top: 5rem; */
	/* padding-top: 7rem;
    padding-bottom: 80px;
	background-image: url(../images/cards/v748-toon-111.png);
} */

/* .social-links{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

} */
.social-links h2{
	padding-bottom: 15px;
	font-size: 20px;
    font-weight: 600;
}
.social-links img{
	padding-bottom: 25px;
}
.social-icons{
	/* display: flex;
    gap: 3rem; */
	display: flex;
    flex-direction: column;
    gap: 1rem;
	color: #777777;
}
.social-icons a{
	/* font-size: 18px; */
    /* background: #ffffff; */
    /* box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
	color: #82074a; */
	/* margin-right: 18px; */
	color: #777777;
}
.social-icons a:hover{
	color: #000;
}
.social-icons a i{
	box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
    color: #7d1534;
	font-size: 16px;
	margin-right: 12px;
}
li{
	list-style: none;
}


.useful-link{
	/* display: flex;
    flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    
    /* align-items:flex-start;
    justify-content:flex-start; */
    

}
.useful-link h2{
	padding-bottom: 15px;
	font-size: 20px;
    font-weight: 600;
}
.useful-link img{
	padding-bottom: 15px;
}
.use-links{
	line-height: 32px;
}
.use-links li i{
	font-size: 14px;
    padding-right: 8px;
    color: #898989;
}
.use-links li a{
	color: #303030;
    font-size: 15px;
    font-weight: 500;
	color: #777777;
}
.use-links li a:hover{
	color: #000;
}
.address h2{
	padding-bottom: 15px;
	font-size: 20px;
    font-weight: 600;
}
.address img{
	padding-bottom: 15px;
}
.address-links li a{
	color: #303030;
    font-size: 15px;
    font-weight: 500;
	color: #777777;

}
.address-links li i{
	font-size: 16px;
    padding-right: 8px;
	color:#7d1534;

}
.address-links li i:nth-child(1){
	padding-top: 9px;
}
.address-links .address1{
	font-weight: 500;
    font-size: 15px;
	display: flex;
}
.address-links{
	    line-height: 32px;
		color: #777777;
}
.copy-right-sec{
	padding: 1.8rem;
    background:#7d1534;
    color: #fff;
    text-align: center;
}
.copy-right-sec a{
	color: #fcd462;
    font-weight: 500;
}
a{
  text-decoration:none;
}



.footer-about p{
  font-family: 'Cherry Swash';
}

/* footer section end */